astroid==2.4.2
backcall==0.2.0
certifi==2020.6.20
chardet==3.0.4
chart-studio==1.1.0
cycler==0.10.0
decorator==4.4.2
idna==2.10
ipython==7.16.1
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.19.0
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
plotly==4.8.2
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pydot==1.4.1
Pygments==2.7.4
pylint==2.5.3
pyparsing==2.4.7
python-dateutil==2.8.1
python-igraph==0.8.2
requests==2.24.0
retrying==1.3.3
six==1.15.0
texttable==1.6.2
toml==0.10.1
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.2.5
wrapt==1.12.1
